<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spbatch.mapper.oracle.source.OracleEmployeeMapper">
 
    
   <select id="selectTestOne" resultType="String">
    	select 'TestSourceOracleDB' from dual 
    </select>
    
    
    
   <select id="sourceOracleMapper" resultType="map">
	   <![CDATA[
	    	SELECT
	              EMPLOYEE_ID AS EMPLOYEEID
	            , FIRST_NAME  AS FIRSTNAME
	            , LAST_NAME   AS LASTNAME
	            , EMAIL
	            , JOB_ID      AS JOBID
	            , SALARY
	            , HIRE_DATE   AS HIREDATE
  			FROM HR.EMPLOYEES
    		WHERE IF_YN = 'N' 
    		AND ROWNUM <= 20  -- ★ 한 번의 Job 실행 때 최대 100개까지만 읽어오기
	    ]]>
    </select>
    
    
    <update id="updateOracleStatusY" parameterType="map">
	    UPDATE HR.EMPLOYEES
	    SET IF_YN = 'Y'
	    WHERE EMPLOYEE_ID = #{EMPLOYEEID} -- Reader에서 가져온 별칭 이름과 맞춰야 함
	</update>

</mapper>